*{
    margin:0;
    padding: 0; 
}

html, body {
    height: 100%;
    background: rgb(90,101,255);
    background: linear-gradient(180deg, rgba(90,101,255,1) 0%, rgba(172,169,169,1) 100%);

}

body {
    font-family: 'Raleway', sans-serif;
    background: rgb(90,101,255);
    background: linear-gradient(180deg, rgba(90,101,255,1) 0%, rgba(172,169,169,1) 100%);
    color:white;
}

.avatar {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 4px;
}

h2 {
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 7px;

}

h3{
    margin-top: 3px;
    font-size: 13px;
}
.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;

}

.social img {
    width: 33px;
}

.links-list{
    list-style: none;

}

.links-list li{
    margin:10px 20px;

}


.links-list li a{
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;  
    box-shadow: 0 0 10px black;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.links-list li a:hover {
    background: rgb(90,101,255);
    background: linear-gradient(101deg, rgba(90,101,255,1) 0%, rgba(255,255,255,1) 100%);
}

#curriculo {

    margin: 10px 70px;
    margin-top: 20px;
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0 0 10px black;
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    
}

#curriculo:hover { 
    background: rgb(90,101,255);
    background: linear-gradient(101deg, rgba(90,101,255,1) 0%, rgba(255,255,255,1) 100%);

}

.links-list li a span{
  color:gray;
  display:block;
  margin-top: 8px;
}

